 <?xml version="1.0" encoding="utf-8" ?>
 	#{fact rule=debugbinary@v1.0eifjcbfcvuunegvkrtccfccigfktjuddgegletttbctr
	 defects=1}
	 <configuration>
	   <system.web>
	     # Noncompliant: `debug` is set to `false`
	     <compilation
	       defaultLanguage="c#"
	       debug="true"
	     />
	     <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
	   </system.web>
	 </configuration>
	#{fact}
	 
	#{fact rule=debugbinary@v1.0 defects=0}
	 <configuration>
	   <system.web>
	     # complaint: `debug` is set to `true`
	     <compilation
	       defaultLanguage="c#"
	     />
	   </system.web>
	 </configuration>
	 #fact